/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	font-family: 'Montserrat', sans-serif;
	color: rgb(240, 240, 240);
}

body {
	height: 100vh;
	width: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background-color: #D79771;
	color: white;
	box-shadow: 1px 1px 3px rgb(79, 78, 78);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}



/*
	==============
	Header
	==============
*/

h1 {
	font-size: 40px;
	padding: 0.6em 0 1em 1.5em;
	font-weight: 600;
}

.header {
	display: grid;
	grid-template-columns: 400px minmax(500px, 1fr);
	grid-template-rows: 1fr 2fr;
	background-color: #753422;
	padding-bottom: 1em;
	box-shadow: 0 3px 3px rgb(150, 150, 150);
	position: relative;
	overflow: auto;
}

.header::-webkit-scrollbar {
	display: none;
}

.profile {
	display: grid;
	grid-template-columns: 3fr 160px;
	justify-items: right;
	font-size: 20px;
	font-weight: 500;
	padding-top: 1.5em;
	padding-right: 1.5em;
}

.intro {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	font-size: 18px;
}


/*
	==============
	Form
	==============
*/

#form {
	display: none;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: minmax(140px, 0.25fr) 2fr;
	align-items: center;
	row-gap: 1em;
	column-gap: 0.5em;

}

label {
	text-align: right;
	font-size: 18px;
	font-weight: 500;
}

input {
	min-width: 200px;
	max-width: 30%;
	height: 1.5em;
	border-style: none;
	border-radius: 5px;
}

#enter {
	width: 8em;
	height: 2em;
	border-style: none;
	border-radius: 5px;
	position: relative;
	left: 2em;
}

#enter:hover {
	background-color: #FFEBC9;
	color: #753422;
}

#newBook {
	margin: 0 0 0 4.5em;
	border-style: none;
	border-radius: 5px;
	height: 2em;
	width: 8em;
}

#newBook:hover {
	background-color: #FFEBC9;
	color: #753422;
}

#cancel {
	display: none;
	margin: 1.5em 0 0.5em 14.6em;
	border-style: none;
	border-radius: 5px;
	width: 5em;
	height: 2em;
	grid-column: 1 / 2;
}

#cancel:hover {
	background-color: #FFEBC9;
	color: #753422;
}

button:hover {
	cursor: pointer;

}


/*
	==============
	Grid
	==============
*/

#grid {
	min-height: 100vh;
	height: auto;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	row-gap: 3em;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #FFEBC9;
}

.bookCard {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 1fr;
	background-color: #D79771;
	align-items: center;
	row-gap: 1em;
	padding: 1em 0 1em 1em;
	max-width: 75%;
	position: relative;
	left: 12.5%;
	border-radius: 8px;
	box-shadow: 3px 3px 3px rgb(150, 150, 150);

	font-weight: 500;
}


/*
	==============
	Book Card
	==============
*/

.remove {
	width: 8em;
	height: 2em;
	border-style: none;
	border-radius: 5px;
	background-color: #B05B3B;
}

.remove:hover {
	background-color: #753422;
}

.toggle {
	width: 10em;
	height: 3em;
	border-style: none;
	border-radius: 5px;
	background-color: #B05B3B;
}

.toggle:hover {
	background-color: #753422;
}

